<%= link_to prefecture_path(prefecture) do %>
  <div class="<%= prefecture.visits.count > 0 ? 'card-visited' : 'card' %>" style="background-image: url(<%= asset_path "prefectures/#{prefecture.name.downcase}.jpg" %>)">
    <%= prefecture.name.upcase%>
  </div>
<% end %>
