<div class="cards">
  <% @prefectures.each do |prefecture| %>
    <%= link_to prefecture_path(prefecture) do %>
      <div class="<%= prefecture.visited ? 'card-visited' : 'card' %>" style="background-image: url(<%= asset_path "prefectures/#{prefecture.name.downcase}.jpg" %>)">
        <%= prefecture.name%>
      </div>
    <% end %>
  <% end %>
</div>


